extends common/layout

block head-block
	.cv-img.head-up.item-flex-1 
		img.down-5(src="./assets/images/me.png", alt="IMG", width="50%")

block title-block
	.cv-person.item-flex-3
		h2.person-name.down-35=bigName
		h4.person-title.up-20=title

block aside-block
	.content-aside.item-flex-1
		h2=name
		.wrapper-info
			span 
				h5
					i.fa.fa-map-marker(aria-hidden='true')
					span=address 
			span 
				h5
					i.fa.fa-phone(aria-hidden='true')
					span=tel 
			span 
				h5
					i.fa.fa-envelope(aria-hidden='true')
					span=email
		hr
		.wrapper-social
			span
				a(href='')
					i.fa.fa-skype(aria-hidden='true')
			span
				a(href='')
					i.fa.fa-facebook(aria-hidden='true')
			span
				a(href='')
					i.fa.fa-twitter(aria-hidden='true')
			span
				a(href='')
					i.fa.fa-linkedin(aria-hidden='true')
		hr

block main-content
	.content-info.item-flex-3.up-15
		section.cv-info-topic.up-15
			h4 EXPERIENCE
		.articles
			each ex in experience
				article.container-flex.down-15
					label.item-flex-1(for="item-data")=ex.time
						hr.third-four.up-2
						br
					.item-data.item-flex-2
						h2.data.up-10=ex.company
						h3.data.up-10=ex.team
						h4.up-20=ex.position
						h5.up-10
							span
								em Key words:
							br
							span=ex.keys
		section.cv-info-topic.up-15
			h4 EDUCATION
		.articles
			each edu in education
				article.container-flex.down-15
					label.item-flex-1(for="item-data")=edu.time
						hr.third-four.up-2
						br
					.item-data.item-flex-2
						h2.data.up-10=edu.company
						h4.up-20=edu.position
						h5.up-10
							span
								em Key words:
							br
							span=edu.keys
		section.cv-info-topic
			h4 SKILLS

block main-content
	.cv-wrapper
		.cv-head.container-flex
		.cv-content.container-flex-col-rev
			.cv-info.item-flex-3.up-15
				section.cv-info-topic.up-15
					h4 EXPERIENCE
				.articles
					each ex in experience
						article.container-flex.down-15
							label.item-flex-1(for="item-data")=ex.time
								hr.third-four.up-2
								br
							.item-data.item-flex-2
								h2.data.up-10=ex.company
								h3.data.up-10=ex.team
								h4.up-20=ex.position
								h5.up-10
									span
										em Key words:
									br
									span=ex.keys
				section.cv-info-topic.up-15
					h4 EDUCATION
				.articles
					each edu in education
						article.container-flex.down-15
							label.item-flex-1(for="item-data")=edu.time
								hr.third-four.up-2
								br
							.item-data.item-flex-2
								h2.data.up-10=edu.company
								h4.up-20=edu.position
								h5.up-10
									span
										em Key words:
									br
									span=edu.keys
				section.cv-info-topic
					h4 SKILLS